@{
    ViewData["Title"] = "Asset Turnover";
}

@model Registration

<div class="page-header d-print-none">
    <div class="container-fluid">
        <div class="row g-2 align-items-center">
            <div class="col-6">
                <!-- Page pre-title -->
                <div class="page-pretitle">

                    <h2 class="page-title">
                        Asset Turnover
                    </h2>
                </div>
            </div>

            <div class="col-auto ms-auto d-print-none">
                @*
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalGroup">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bubble-text"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 10h10" /><path d="M9 14h5" /><path d="M12.4 3a5.34 5.34 0 0 1 4.906 3.239a5.333 5.333 0 0 1 -1.195 10.6a4.26 4.26 0 0 1 -5.28 1.863l-3.831 2.298v-3.134a2.668 2.668 0 0 1 -1.795 -3.773a4.8 4.8 0 0 1 2.908 -8.933a5.33 5.33 0 0 1 4.287 -2.16" /></svg>
                Register Clearance
                </a> *@

            </div>

        </div>

    </div>
</div>



<div class="page-body">
    <div class="container-fluid ">
        <div class="card">

            <div class="card-body">
                <ul class="steps steps-primary steps-counter my-4">
                    <li class="step-item @ViewBag.form">Registration</li>
                    <li class="step-item @ViewBag.asset">Asset Turnover</li>
                    <li class="step-item">Confirmation</li>
                </ul>
            </div>

            <hr class="m-0">

            <div class="card-header">
                <h5 class="card-title">Asset Turnover</h5>
            </div>




            <div class="card-body">
                <div class="card">
                    <div id="table-default">
                        <div class="d-lg-flex justify-content-between px-3 pt-3">
                            <div class="d-flex text-center text-lg-start mb-3">
                                <div class="text-muted">
                                    Show
                                    <div class="mx-2 d-inline-block w-25">
                                        <input id="entries" type="number" class="form-control" value="10" autocomplete="off">
                                    </div>
                                    entries
                                </div>
                            </div>
                            <div class="input-icon mb-3">
                                <input type="search" class="search form-control" placeholder="Search">
                                <span class="input-icon-addon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                                </span>
                            </div>
                        </div>

                        <hr class="m-0"> 

                        <div class="table-responsive">
                            <table class="table text-muted table-mobile-sm" id="datatable" data-filename="Asset List">
                                <thead class="table-thead">
                                    <tr>
                                        <th>Action</th>
                                        <th><button class="table-sort" data-sort="sort-ID">ID</button></th>
                                        <th><button class="table-sort" data-sort="sort-Description">Description</button></th>
                                        <th><button class="table-sort" data-sort="sort-Specification">Specification</button></th>
                                        <th><button class="table-sort" data-sort="sort-Asset_Number">Asset Number</button></th>
                                        <th><button class="table-sort" data-sort="sort-Serial_Number">Serial Number</button></th>
                                        <th><button class="table-sort" data-sort="sort-Owner">Owner Name</button></th>
                                        <th><button class="table-sort" data-sort="sort-Location">Location</button></th>
                                    </tr>
                                </thead>
                                <tbody class="table-tbody">

                                    @if (Model.Assets == null || !Model.Assets.Any())
                                    {
                                        <tr>
                                            <td colspan="8" class="text-center">NO DATA AVAILABLE</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var row in Model.Assets)
                                        {
                                            <tr>
                                                <td data-label="ID" class="text-nowrap sort-ID">
                                                    <a>@row.AId</a>
                                                </td>

                                                <td data-label="Description" class="text-nowrap sort-Description">
                                                    <a class="text-decoration-none text-dark">@row.Description</a>
                                                </td>

                                                <td data-label="Specification" class="text-nowrap sort-Specification">
                                                    <a class="text-decoration-none text-dark">@row.Specs</a>
                                                </td>

                                                <td data-label="Asset Number" class="text-nowrap sort-Asset_Number">
                                                    <a class="text-decoration-none text-dark">@row.AssetNo</a>
                                                </td>

                                                <td data-label="Serial Number" class="text-nowrap sort-Serial_Number">
                                                    <a class="text-decoration-none text-dark">@row.SerialNo</a>
                                                </td>

                                                <td data-label="Owner Name" class="text-nowrap sort-Owner">
                                                    <a class="text-decoration-none text-dark">@row.OwnerName</a>
                                                </td>

                                                <td data-label="Location" class="text-nowrap sort-Location">
                                                    <a class="text-decoration-none text-dark">@row.Location</a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>

                            </table>

                        </div>

                        <div class="card-footer ">
                            <div class="d-flex justify-content-end gap-3 col-auto ms-auto d-print-none">
                                <a class="btn btn-ghost-secondary btnBack">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                                    Back
                                </a>

                                <button class="btn btn-primary btnNext">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
                                    Next
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            @*MODAL FOR INTERVIEW*@

            <div class="modal modal-blur fade" id="modalGroup" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Register Clearance</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3">
                                <label class="form-label">Employee ID</label>
                                <div class="col">
                                    @Html.TextBoxFor(m => m.EmpId, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Employee ID</label>
                                <div class="col">
                                    @Html.TextBoxFor(m => m.EmpId, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Employee Name</label>
                                <div class="col">
                                    @Html.TextBoxFor(m => m.EmpId, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Department</label>
                                <div class="col">
                                    @Html.TextBoxFor(m => m.EmpId, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <div class="col">
                                    @Html.TextBoxFor(m => m.EmpId, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Remarks</label>
                                <div class="col">
                                    @Html.TextBoxFor(m => m.EmpId, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>


                            <div class="mb-3">
                                <label class="form-label">Last day of Employment</label>
                                <div class="col">
                                    @Html.TextBoxFor(m => m.LastDay, new { @class = "form-control date-input", @required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">

                            <a class="btn btn-ghost-secondary" data-bs-dismiss="modal">
                                Cancel
                            </a>

                            <button class="btnAddGroup btn btn-primary">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
                                Next
                            </button>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('.btnBack').click(function (e) {
            e.preventDefault(); // Prevent default anchor behavior
            window.history.back(); // Navigate to the previous page
        });
    });
</script>
